<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head><title>Header</title></head>
<body>
<header class="header">
    <div class="header-item">
        <a th:href="@{/}"><img class="header-logo" th:src="@{/img/logo.png}" alt="logo"></a>
    </div>
    <div class="header-item">
        About us
    </div>
    <div class="header-item">
        Our products
    </div>
    <div th:unless="${#ctx.session.loggedIn}" class="login-header header-item">
        <div  class="sign-in header-item">
            <a th:href="@{/login}">My account</a>
        </div>
        <a th:href="@{/login}"><img th:src="@{/img/login.png}" alt="login" class="header-icon"></a>
    </div>
    <div th:if="${#ctx.session.loggedIn}"  class="success-login-header">
        <a th:text="${#ctx.session.phone}" th:href="@{/account}"></a>
    </div>
</header>
</body>
</html>